@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,500;1,400&display=swap');

body {
    font-family: Roboto;
    display: flex;
    flex-direction: column;
}

ul {
    display: flex;
    list-style: none;
    gap: 24px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    padding: 0px 200px;
}

.awesome {
    display: flex;
    justify-content: space-between;
    padding: 50px 200px;
    background-color: #1f2937;
    gap: 100px;
}

.placeholder {
    max-width: 300px;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    border: none;
    border-radius: 8px;
    padding: 8px 24px;
    max-width: 100px;
}

.awesome-container {
    display: flex;
    flex-direction:column;
    gap: 16px;
}

.placeholder {
    height: 300px;
    display: flex;
    flex: auto;
}

.hero-main {
    font-size: 48px;
    color: #f9faf8;
}

.hero-secondary {
    font-size: 18px;
    color: #e5e7eb;
}

.information {
    padding: 25px 250px 75px;
    text-align: center;
}

img.info-img {
    width: 150px;
    height: 150px;
    border: solid 3px;
    border-color: #3882f6;
    border-radius: 12px;
}

.info-container {
    display: flex;
    justify-content: center;
    gap: 64px;
    flex-wrap: wrap;
}

.information-header {
    font-size: 36px;
    margin-bottom: 25px;
}

.info {
    max-width: 150px;
}

.quote {
    background-color: #e5e7eb;
    padding: 50px 275px;
}

.quotation {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}

.author {
    text-align: right;
    font-weight: bold;
}

.call {
    display: flex;
    margin: 100px 200px;
    background-color: #3882f6;
    border-radius: 8px;
    align-items: center;
    justify-content: space-between;
    padding: 30px 75px;
}

button.call-sign-up {
    border-color: #e5e7eb;
    border: solid 2px;
}

.footer {
    padding: 25px;
    background-color: #1f2937;
    font-size: 18px;
    color: #e5e7eb;
    text-align: center;
}